@import 'variables';

h1, h2{ //, h3, h4, h5, h6
    font-family: $header-font;
    margin-bottom: 10px;
    text-decoration: none;
    color: $color-primary;
    a{
        text-decoration: none;
        color: black;
    }
}

p, ul, ol{
    li{
      font-size: 1.15rem;
    }
}

h1{
  margin-top: 3rem;
}

h2{
  font-weight: bold;
  font-family: $base-font;
  font-size: 1.3rem;
  margin-top: 3rem;
    // font-size: 1.6rem;
    // margin-bottom: 0px;
}

h3{
    color: $color-secondary-dark;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: bold;
    margin-top: 1.5rem;
}

p{
    font-size: 1.15rem;
}

//System stack for everything
body {
    color: $color-body;
    font-family: $base-font;
  }

// TydiForm customizations
  a{
    color: $color-primary;
  }
  a:visited{
    color: $color-secondary;
  }
  a:hover{
    color: $color-secondary-dark;
  }
  em{
      color: $color-primary;
  }

ul.icon-links {
  list-style-type: none;
}
ul.icon-links li {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
ul.icon-links li.item-website::before {
    content: "\f015";
    font-family: "Font Awesome 5 Free";
    padding: 0 10px 0 0;
}
